@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

body {
    background: linear-gradient(to bottom, black, #333);
    margin: 0;
    padding: 0;
}

#calendar {
    max-width: 100%;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;
}

/*Color-numeros-dia*/
#calendar-body td {
    color: #b16815;
}

#calendar-image {
    width: 53%;
    max-width: 245px;
    display: block;
    margin: 0 auto;
}

img {
    padding-top: 5px;
    padding-bottom: 8px;
}

/*Titulo-inicial*/
.tittle {
    text-align: center;
    font-size: 14px;
    color: #b86e1a;
    font-family: 'Montserrat', sans-serif;
}

/*Subtitulo-final*/
.sub-tittle {
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    color: #b86e1a;
    font-family: 'Montserrat', sans-serif;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    text-align: center;
    padding: 10px;
}

/*dias-calendario*/
#calendar th {
    color: #be5d4c;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
}

/*Numeros-calendario*/
#calendar td {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#calendar #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #b86e1a;
    outline: none;
}

/*Meses-años*/
#month-year {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    color: #b86e1a;
    font-family: 'Montserrat', sans-serif;
}

/*Marcado.diario*/
.today {
    background-image: url(calabaza.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff !important;
    /*border-radius: 50px 0 50px 0;
    background-color: #149740;
    color: #ffffff;*/
}
